/*As duas classes abaixo servem para ajustar a imagem de fundo do menu da página, o filter é para deixara a imagem mais escura,
o box-shadow cria uma sombra atrás da imagem, o width é alargura e o height é a altura da imagem
position relative junto com o top negativo coloca a imagem no topo da tela e o z-index coloca ela atrás do menu*/
.menu_img {
    width: 100%;
    height: 410px;
    filter: brightness(40%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img_menu_navbar {
    position: relative;
    top: -90px;
    z-index: -1;
}

/*title é a classe que ajuste o título da página (The Daisy's Resturant), colocando a fonte importada do Google e ajustando o tamanhp da fonte para large*/
.title{
    margin-right: 430px;
    font-size: x-large;
    font-family: "Caveat", sans-serif;
}

/* as classes abaixo ajustam o formulário da página, ajustando a posição da DIV, a cor de fundo do formulário (background-color),
a sombra atrás do formulário (box-shadow), o título do formulário na classe title_card, e a fonte do botão final do formulário*/
.contact {
    position: relative;
    top: -350px;
}

.shadowcontact {
    width: 800px;
    background-color:rgb(21, 21, 17);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.title_card{
    font-size: x-large;
    font-family: "Caveat", sans-serif;
}

.font_button {
    font-family: "Caveat", sans-serif;
}
